<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/off"
        android:roundIcon="@mipmap/off_round"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name="com.myapp.switches.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication"
            android:windowSoftInputMode="adjustResize"></activity>


        <activity-alias
            android:name=".Off"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/off"
            android:roundIcon="@mipmap/off_round"
            android:targetActivity="com.myapp.switches.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".On"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/on"
            android:roundIcon="@mipmap/on_round"
            android:targetActivity="com.myapp.switches.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

    </application>

</manifest>